<div class="container">
    <mat-toolbar>
        <span>Crear Usuario</span>
      </mat-toolbar>

      <mat-card style="margin-top: 10 px;">
        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">

            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan] = "1" >
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="usuario">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan] = "5"> 
                    <img src="./assets/img/login.svg" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan] = "1">
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Apellidos</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="apellidos">
                    </mat-form-field> 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan] = "1" >
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Nombres</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="nombres">
                    </mat-form-field> 
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan] = "1" >
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input type="text" matInput autocomplete="off" formControlName="celular">
                    </mat-form-field> 
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan] = "1" >
                    <mat-form-field class="ancho" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input type="text" matInput autocomplete="off" >
                    </mat-form-field> 
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan] = "1">
                    <button mat-raised-button type="submit" routerLink="/dashboard/usuarios" style="margin-right: 20;">Volver</button>
                    <button mat-raised-button type="submit" [disabled]="form.invalid" color="primary" routerLink="/dashboard/crear-usuario">Aceptar</button>
                </mat-grid-tile>

            </mat-grid-list>
           
       
        </form>
    </mat-card>
</div>